.footer {
  background-color: #181818;
  padding: 80px 10px;
  // .footer__content

  &__content {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .footer__copy
  &__copy {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding-bottom: 40px;
    }
  }
  // .footer__copy-text

  &__copy-text {
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    max-width: 300px;
    color: #fff;
    margin-top: 24px;
  }

  // .footer__nav

  &__nav {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: space-around;
    }
  }
}

.footer-nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 320px;
    @media (max-width: 1024px) {
      padding-left: 120px;
    }
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  // .footer-nav__help

  &__help {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 320px;
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  // .footer-nav__help-item

  // .footer-nav__help-link

  &__help-link {
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    color: #fff;
  }
}

.footer-nav-link {
  font-size: 16px;
  font-weight: 450;
  line-height: 150%;
  color: #fff;
}
.footer-nav__contact-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  margin-bottom: 12px;
}
.footer-nav__help-title {
  color: #fff;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
