.premium {
  // .premium__inner
  margin-bottom: 170px;

  &__inner {
    display: flex;
    gap: 120px;
    position: relative;
  }

  // .premium__content

  &__content {
    max-width: 520px;
  }

  // .premium__title

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 24px;
  }

  // .premium__descr

  &__descr {
    font-size: 18px;
    font-weight: 450;
    line-height: 150%;
    color: #909090;
    margin-bottom: 40px;
  }

  // .premium__box

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 48px;
  }

  // .premium__box-item

  // .premium__box-title

  &__box-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    display: flex;
    gap: 8px;
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../../img/icons/num1.svg");
    }
  }

  // .premium__box-text

  &__box-text {
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    color: #909090;
    padding-top: 4px;
    padding-left: 33px;
  }

  // .premium__photos

  // .premium__photos-box

  &__photos-box {
    display: flex;
    gap: 24px;
    padding-top: 24px;
  }
}
.premium__box-title2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  gap: 8px;
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../img/icons/num3.svg");
  }
}
.premium__box-title3 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  gap: 8px;
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../../img/icons/num2.svg");
  }
}
.premium {
  // .premium__photos

  &__photos {
  }

  // .premium__photos-inner

  &__photos-inner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      top: 130px;
      left: 80px;
      background-image: url("../../img/icons/background-elipse-premium.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -5;
    }
  }
}
.premium {
  // .premium__photos-rate

  &__photos-rate {
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 4px 32px 0px rgba(50, 75, 104, 0.17);
    background: rgb(255, 255, 255);
    padding: 12px;
    top: 100px;
    right: 394px;
  }
}
.photos-rate {
  // .photos-rate__img

  &__img {
    display: flex;
    padding-bottom: 16px;
  }

  // .photos-rate__text

  &__text {
  }
}
.photos-rate__img img {
  border-radius: 50%; /* Make the images circular */
  margin-left: -15px; /* Overlap each image by 5 pixels to the left */
}

.photos-rate__img img:first-child {
  margin-left: 0; /* Reset margin for the first image */
}
