.subscribe {
  background-color: #35aff4;

  padding: 80px 0;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-top: 30px;
  }

  // .subscribe__content
  &__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 15px;
      z-index: 2;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 450;
    line-height: 25px;
    color: #fff;
    padding-top: 4px;
    @media (max-width: 768px) {
      font-size: 14px;
      z-index: 2;
    }
  }
  &__content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-left: 180px;
    &::before {
      content: "";
      position: absolute;
      width: 236.67px;
      height: 273.33px;
      left: -80px;
      background-image: url("../../img/subscribe-img.svg");
    }
    @media (max-width: 600px) {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 100%;
      padding: 0;
      &::before {
        display: none;
      }
    }
  }
  @media (max-width: 425px) {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 70px 0;
    &::before {
      display: none;
    }
  }
}

.subscribe-form {
  &__input {
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #fff;
    height: 48px;
    padding-left: 34px;
    background-image: url(../../img/input-icon.svg);
    background-repeat: no-repeat;
    background-position: 8px 15px;
  }
  &__btn {
    border-radius: 8px;
    background: #181818;
    height: 48px;
    align-items: center;
    padding: 12px 24px 12px 24px;
    color: #fff;
    transition: all 0.3s ease 0s;
    margin-left: 12px;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 1024px) {
      margin-top: 10px;
    }
  }
}
