.subscribe {
  background-color: #35aff4;

  padding: 80px 0;
  overflow: hidden;

  // .subscribe__content
  &__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
  }
  &__text {
    font-size: 20px;
    font-weight: 450;
    line-height: 25px;
    color: #fff;
    padding-top: 4px;
  }
  &__content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-left: 180px;
    &::before {
      content: "";
      position: absolute;
      width: 236.67px;
      height: 273.33px;
      left: -80px;
      background-image: url("../../img/subscribe-img.svg");
    }
  }
}
.subscribe {
  // .subscribe__form

  &__form {
  }
}
.subscribe-form {
  &__input {
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #fff;
    height: 48px;
    padding-left: 34px;
    background-image: url("../../img/input-icon.svg");
    background-repeat: no-repeat;
    background-position: 8px 15px;
  }
  &__btn {
    border-radius: 8px;
    background: #181818;
    height: 48px;
    align-items: center;
    padding: 12px 24px 12px 24px;
    color: #fff;
    transition: all 0.3s ease 0s;
    margin-left: 12px;
    &:hover {
      opacity: 0.8;
    }
  }
}
